<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Creditos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- <div *ngIf="array_compañeros"> -->
     <!-- <section *ngFor="let compañero of compañeros" >  -->

      <!-- {{compañeros.nombre}},{{compañeros.github}}, {{compañeros.image}}
      -->
        <ion-list>Nombre completo <span *ngIf="nick"></span></ion-list>
        <ion-list>github</ion-list>
        <ion-list><img src="#" alt="icono">  </ion-list>        
    <!-- </section>
  </div> -->

  <!-- <ul *ngFor="let compañero of compañeros">
    <li>{{compañeros.nombre}}-{{compañeros.github}}</li>
  </ul> -->

</ion-content>
